# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'atom-clj-refactor'
      'submenu': [
        {
          "label": "Add declaration (declar) for the current top-level form",
          "command": "atom-clj-refactor:add-declaration"
        },
        {
          "label": "Cycle privacy of defn or def",
          "command": "atom-clj-refactor:cycle-privacy"
        }
      ]
    ]
  }
]
